<!DOCTYPE html>
<html lang="id">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Aviatick - Reset Password Confirmation</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
  <style>
    * {
      font-family: 'Poppins', sans-serif;
      margin: 0;
      padding: 0;
    }
    
    body {
      background-color: #f5f5f5;
    }

    .container {
      padding: 20px;
      max-width: 600px;
      margin: 0 auto;
      text-align: center;
      background-color: white;
      border-radius: 5px;
      color: #4d4d4d;
    }
    
    .heading {
      font-size: 24px;
      margin: 10px 0;
      font-weight: 400;
      color: black;
    }

    .content {
      margin: 15px 0;
    }

    .content.greeting {
      margin-bottom: -10px;
    }

    .content.greeting span {
      color: #00A8D0;
      font-weight: 600;
    }

    .content.note {
      font-size: 12px;
    }
    
    .button {
      background-color: #00A8D0;
      border: none;
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      border-radius: 100px;
    }
  </style>
</head>
<body>
  <div class="container">
    <img src="https://ik.imagekit.io/aviatick/logo-blue.png" alt="Aviatick Logo" width="60">
    <h1 class="heading">Konfirmasi Reset Password</h1>
    <hr>
    <p class="content greeting">
      Halo <span><%= name %></span>,
    </p>
    <p class="content">
      Silahkan tekan tombol di bawah untuk melanjutkan proses pengaturan ulang password akun Anda (hanya berlaku selama 30 menit ke depan).
    </p>
    <a href="<%= resetPasswordUrl %>" class="button" style="color: white;">Reset Password</a>
    <div class="content ">
      <p>Jika tombol di atas tidak berfungsi, copy dan paste URL berikut ke browser Anda:</p>
      <a href="<%= resetPasswordUrl %>" target="_blank" class="url"><%= resetPasswordUrl %></a>
    </div>
    <p class="content note">
      Jika Anda tidak pernah melakukan request untuk reset password, maka silahkan abaikan email ini.
    </p>
  </div>
</body>
</html>